/*style.css*/

@font-face {
    font-family: 'something_strangeregular';
    src: url('something_strange-webfont.woff2') format('woff2'),
         url('something_strange-webfont.woff') format('woff');
         url('something_strange-webfont.tff') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bloodthirstyregular';
    src: url('bloodthirsty-webfont.woff2') format('woff2'),
         url('bloodthirsty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lemonadelemonade';
    src: url('lemonade-webfont.woff2') format('woff2'),
         url('lemonade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jack_oregular';
    src: url('jack_o-webfont.woff2') format('woff2'),
         url('jack_o-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'creepsvilleregular';
    src: url('rw-creepsville-webfont.woff2') format('woff2'),
         url('rw-creepsville-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zombie_holocaustregular';
    src: url('zombie_holocaust-webfont.woff2') format('woff2'),
         url('zombie_holocaust-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Chiller';
    src: url('chiller_regular-webfont.woff2') format('woff2'),
         url('chiller_regular-webfont.woff') format('woff'),
         url('chiller_regular-webfont.tff') format('tff');
    font-weight: normal;
    font-style: normal;

}

/* CHRISTMAS FONTS */

@font-face {
    font-family: 'Candycane';
    src: url('candycane.woff2') format('woff2'),
         url('candycane.woff') format('woff'),
         url('candycane.tff') format('tff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'xmaseve';
    src: url('christmaseve.woff2') format('woff2'),
         url('christmaseve.woff') format('woff'),
         url('christmaseve.tff') format('tff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'xmaseve';
    src: url('christmaseve.woff2') format('woff2'),
         url('christmaseve.woff') format('woff'),
         url('christmaseve.tff') format('tff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snowforsanta';
    src: url('snowforsanta.woff2') format('woff2'),
         url('snowforsanta.woff') format('woff'),
         url('SnowForSanta.tff') format('tff');
    font-weight: normal;
    font-style: normal;

}


body {
    background-color: red; /* Theme: BACKGROUND */
    position: relative;
}

.overlay, #icon, #overlaybackground {
    position: absolute;
    left: 875px;
    bottom: 490px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 5px solid chartreuse;   /* Theme: */
    box-shadow: 0px 0px 20px lime;    /* Theme: */
    overflow: visible;
}



@keyframes floatingportal {
    from {background-color: forestgreen;}     /* Theme: FLOATING PORTAL */
    to {background-color: seagreen;}
}

.overlaytext {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    animation-name: floatingportal;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 100%;
    transition: .6s ease;
}

.overlay:hover .overlaytext {
    bottom: 0px;
    height: 100%;
}

.overlay .overlaytext{
    top: 0px;
    height: 0%;
}


.text {
    white-space: nowrap;
    color: chartreuse;      /* Theme: TEXT */
    font-size: 40px;
    font-family: "lemonadelemonade";
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3, p, li {
    color: rgb(200, 200, 200);       /* Theme: TEXT */
}

h1 {
    color: white;     /* Theme: HEADING ONE */
}

#div, #divhead, #sidebar, #rrhead {
    border: 5px solid maroon;       /* Theme: BORDER */
    box-shadow: 1px 1px 50px white;        /* Theme: BOXSHADOW */
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(40, 0, 0, 0.5);   /* Theme: BACKGROUND */
}

#div {
    border-radius: 12px;
}

body {
    background-image: url(red-xmas-backgrounds-wallpapers.jpg);        /*  Theme: BACKGROUND IMAGE */
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1366px) {
    body {
        background-image: url(red-xmas-backgrounds-wallpapers.jpg);      /*  Theme: BACKGROUND IMAGE */
        background-repeat: repeat-y;
        background-size: 250%;
    }
}

h1 {
    font-family: 'Candycane', Creepster;       /* Font: HEADER ONE */
    font-size: 100px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

h2, h3 {
    font-family: 'xmaseve', Creepster;      /* Font: HEADER TWO THREE */
    font-size: 64px;
    font-weight: bold;
}

a {
    color: chartreuse;      /* Theme: LINKS */
    font-size: 150%;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: green;     /* Theme: LINK HOVER */
}

a:visited {
    opacity: 70%;
}

#pf {
    color: lime;       /* Theme: PAGE FOOTER */
    font-family: 'Small Fonts Regular', 'Patrick Hand SC', cursive;     /* Font: PAGE FOOTER */
    text-align: center;
}

.p, li {
    font-family: 'snowforsanta','Frijole';       /* Font: PARAGRAPHS AND LISTS */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color: rgb(240, 240, 240);       /* Theme: LINES */
    box-shadow: 1px 1px 25px darkorchid;        /* Theme: LINES */
}

nav {
    background-color: rgba(20, 250, 0, 0.4);      /* Theme: NAVIGATION */
    border-radius: 25px;
    border: 1px solid darkred;      /* Theme: NAVIGATION */
    padding: 5px 5px;
    margin: 0px 10px;
    overflow: visible;
    z-index: 0;
}

.nav {
    font-family: 'creepsvilleregular';        /* Font: LINKS */
    font-size: 200%;
    padding: 0px 0px 0px 0px;
    margin: 0px 40px 0px 40px;
    z-index: 1;
}

#hidden {
    font-family: 'xmaseve', 'creepsvilleregular', Creepster;   /* Font: HIDDEN LINK */
    font-size: 64px;
    font-weight: bold;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

#kah1, #kaheader {
    text-shadow: 1px, 1px, 15px darkorchid;     /* Theme: KEEGAN'S ART / NSFW */
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 200%;
}

#nsfw {
    font-weight: bold;
    text-shadow: orangered;     /* Theme: NSFW TEXT SHADOW */
    font-size: 250%
}

.bought {
  line-height: 1em;
  position: relative;
}
.bought::after {
  border-bottom: 0.35em solid rgba(18, 18, 18, 0.92);
  content: "";
  left: 3px;
  margin-top: calc(0.35em / 2 * -1);
  border-radius: 5px;
  text-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  position: absolute;
  right: 0;
  top: 50%;
  width: 97%;
}

img {
  border: 4px maroon solid;
  margin: 20px;
}

.imgleft {
  margin-right: 75px;
  margin-left: 50px;
}

#gallery {
  margin-left: 220px;
}

picture {
  width: 400px;
}

#gallery img {
  margin: 10px 10px;
  padding: 0px;
  float: left;
  display: inline-block;
}

figure {
  display: inline-block;
  width: 255px;
}

figcaption {
  width: 280px;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  font-family: verdana;
  color: white;
}


